body {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.display {
  width: 220px;
  height: 60px;
  margin: 10px auto;
  font-size: 2rem;
  text-align: center;
  border: 2px solid #ffd700;
  border-radius: 10px;
  background-color: #fffbcc;
  line-height: 60px;
  color: #ff5722;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gameplay-container {
  position: relative; /* Penting untuk parent element */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: white; /* Warna teks putih agar kontras */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8); /* Tambahkan bayangan pada teks */
}

.gameplay-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/tikus-dipenjara.jpg'); /* Path ke gambar */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity:0.8; */
  z-index: -1; /* Letakkan gambar di belakang konten */
}

.gameplay-container h2 {
  font-size: 2rem; /* Ukuran teks judul */
  color: #ffa500; /* Warna teks lebih terang untuk kontras */
  margin-bottom: 20px;
}

.gameplay-container p {
  font-size: 1.2rem; /* Ukuran teks deskripsi */
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 250px;
  margin: 0 auto;
}

.button {
  font-size: 1.4rem;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #8bc34a;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  width: 80px;
}

.button:hover {
  background-color: #7cb342;
  transform: scale(1.1);
}

.button:active {
  background-color: #689f38;
}

.special {
  background-color: #ff5722;
}

.special:hover {
  background-color: #e64a19;
}

.special:active {
  background-color: #d84315;
}

h2 {
  background-color: rgba(255, 255, 255, 1); /* Warna hitam semi-transparan */
  color: white; /* Warna teks putih */
  padding: 10px 20px; /* Jarak di sekitar teks */
  border-radius: 8px; /* Membuat sudut bulat */
  text-shadow: none; /* Hilangkan bayangan */
}

p {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
}
